* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

/* allineamento centrale alla pagina */
.h-center {
    width: 80vw;
    margin: auto;
}

/* settaggio per i link */
a {
    text-decoration: none;
    color: rgb(20, 169, 238);
}
a:hover {
    text-decoration: underline;
}

/* header */
header {
    background: rgb(82, 162, 252) url('img/pattern.png');
    background-size:contain;
    height: 80px;
    position: relative;
}

header img {
    height: 50%;
    position: absolute;
    bottom:10px;
}

/*  */
.article-title {
    font-size: 25px;
    margin: 20px 0 5px 0;
}

.article-info {
    font-size: 13px;
    color: rgb(95, 95, 95);
    margin-bottom: 20px;
}

.article-info time, .photo-description {
    font-size: .5rem;
}

.text-article {
    font-size: 14px;
}

.text-article p {
    margin: 20px 0;
}

ul {
    list-style-position: inside;
}

/* settaggio tabella */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}

table th{
    height: 30px;
    background-color: rgb(20, 169, 238);
    color: white;
    text-align: left;
  }

td {
    width: 25%;
}

.large-column {
    width: 50%;
}

.coloured-row {
    background-color: rgba(20, 169, 238, 0.3);
}

/* Sezione Potrebbe interessarti */
#more-articles h3 {
    color: rgb(122, 122, 122);
}

.one-article{
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 250px;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.argomentoA {
    background-image: url(img/graph.jpg);
}

.argomentoB {
    background-image: url(img/monitor.jpg);
}

